{% extends "admin/base.html" %}
{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        #record-list > tbody > tr{
            cursor: pointer;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container">
        <div id="errordiv" class="text-center">
            {% for error in errors %}
                <div class="alert alert-danger alert-dismissable" role="alert">
                  <span class="sr-only">Error:</span>
                  {{ error }}
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                </div>
            {% endfor %}
        </div>
        <div class="row">
            <h1>Challenge DNS</h1>
            <i class="btn-fa fas fa-plus-circle" role="button" data-toggle="modal" data-target="#new-record-modal" title="Create record"></i>
        </div>
        <div class="row">
            <table id="record-list" class="table table-striped">
                <thead>
                    <tr>
                        <td width="10px"><b>#</b></td>
                        <td><b>Record</b></td>
                        <td><b>IP address</b></td>
                    </tr>
                </thead>
                <tbody>
                {% for record in records %}
                    <tr data-toggle="modal" data-target="#record-modal">
                        <td>{{ loop.index }}</td>
                        <td class="chalname">{{ record[0] }}</td>
                        <td class="ipaddress">{{ record[1] }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="modal fade" id="record-modal" role="dialog"  tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 id="recordname">DNS record</h3>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <label for="ipaddress">IP address</label>
                        <input id="ipaddress" name="ipaddress" />
                    </div>
                    <div class="modal-footer">
                        <button id="saverecord" type="button" class="btn btn-default">Save changes</button>
                        <button id="deleterecord" type="button" class="btn btn-default">Delete</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="new-record-modal" role="dialog"  tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 id="recordname">New DNS record</h3>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <label for="newchalname">Name</label>
                        <input id="newchalname" name="newchalname" />
                        <label for="newipaddress">IP address</label>
                        <input id="newipaddress" name="newipaddress" />
                    </div>
                    <div class="modal-footer">
                        <button id="createrecord" type="button" class="btn btn-default">Create record</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript">
        //If you want to add content dynamically and still need it to work, and also with more than one form, you can do this:
        $(document).ready(function() {
            // row was clicked
            clickable_table_rows();

            $("#newrecord").click(function(){
                $('#record-modal').modal({show:true});
            });

            $("#createrecord").click(function(){
                new_record($("#newchalname").val(),$("#newipaddress").val());
            });

            //refresh VMs every x milliseconds
            setInterval (refresh_records(), 60000);
        });

        function clickable_table_rows(){
            $('.table > tbody > tr').click(function(){
                var chalname = $(this).find(".chalname").text();
                var ipaddress = $(this).find(".ipaddress").text();

                $('#recordname').empty().append(chalname);
                $('#ipaddress').empty().append(ipaddress);

                $('#record-modal').modal({show:true});

                //remove previous click event handlers and add new ones
                $("#saverecord").off("click").click(function(){
                    update_record($("#recordname").text(), $("#ipaddress").val());

                    //close modal
                    $('#record-modal').modal({show:false});

                    //refresh
                    refresh_records();
                });

                $("#deleterecord").off("click").click(function(){
                    remove_record($("#chalname").val());

                    //close modal
                    $('#record-modal').modal({show:false});

                    //refresh
                    refresh_records();
                });
            });
        }


        function new_record(chalname, ipaddress) {
            var url = script_root + "/admin/challengedns/manage/record/new?r=" + new Date().getTime();
            var data = {nonce: "{{ nonce }}", "chalname": chalname, "ipaddress": ipaddress};

            process_request(url, data);
        }

        function update_record(chalname, ipaddress){
            var url = script_root + "/admin/challengedns/manage/record/" + chalname + "/update?r=" + new Date().getTime();
            var data = {nonce: "{{ nonce }}", "ipaddress": ipaddress};

            process_request(url, data);
        }

        function remove_record(chalname){
            var url = script_root + "/admin/challengedns/manage/record/" + chalname + "delete?r=" + new Date().getTime();
            var data = {nonce: "{{ nonce }}"};

            process_request(url, data);
        }

        function process_request(url, data) {
            $request = $.ajax({
                method: "POST",
                url:  url,
                data: data
            });

            var html = '';

            $request.done(function(response) {
                if (response === "Success!") {
                    html = '<div class="alert alert-success alert-dismissable" role="alert">\n' +
                        '<span class="sr-only">Success:</span>\n' +
                        'The operation has been successfully completed.' +
                        '<button type="button" class="close" data-dismiss="alert" aria-label="Close">' +
                        '<span aria-hidden="true">×</span></button>\n' +
                        '</div>';
                }
                else {
                    html = '<div class="alert alert-danger alert-dismissable" role="alert">\n' +
                        '<span class="sr-only">Error:</span>\n' +
                        response +
                        '<button type="button" class="close" data-dismiss="alert" aria-label="Close">' +
                        '<span aria-hidden="true">×</span></button>\n' +
                        '</div>';
                }
            });

            $request.fail(function(){
                    html = '<div class="alert alert-danger alert-dismissable" role="alert">\n' +
                        '<span class="sr-only">Error:</span>\n' +
                        'The request could not be completed.' +
                        '<button type="button" class="close" data-dismiss="alert" aria-label="Close">' +
                        '<span aria-hidden="true">×</span></button>\n' +
                        '</div>';
            });

            $("#errordiv").append(html);

            //refresh
            refresh_records();
        }

        function refresh_records(){
            $request = $.ajax({
                method:"POST",
                url: script_root + "/admin/challengedns/manage/update?r=" + new Date().getTime(),
                data: {nonce: "{{ nonce }}"}
            });

            $request.done(function(response) {
                var new_records_html = build_table_body(JSON.parse(response));

                $("#record-list").find("tbody").empty().append(new_records_html);

                clickable_table_rows();
            });

            $request.fail(function(){
                    var html = '<div class="alert alert-danger alert-dismissable" role="alert">\n' +
                        '<span class="sr-only">Error:</span>\n' +
                        'The request could not be completed.' +
                        '<button type="button" class="close" data-dismiss="alert" aria-label="Close">' +
                        '<span aria-hidden="true">×</span></button>\n' +
                        '</div>';

                    $("#errordiv").append(html);
            });
        }

        function build_table_body(json_records){
            var html = '';

            for(var i = 0; i < json_records.length; i++)
            {
                html += '<tr data-toggle="modal" data-target="#record-modal"><td>' +
                    i +
                    '</td><td class="chalname">' +
                    json_records[i][0] +
                    '</td><td class="ipaddress">' +
                    json_records[i][1] +
                    '</td></tr>'
            }

            return html
        }
    </script>
{% endblock %}


    